*{
    box-sizing: border-box;
}
.memory_board {
    margin:5px;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    justify-content: center;
    justify-content: center;
    width:60%;
}
h4 {
    display:flex;
    justify-content: space-around;
    width:400px;;
    margin:5px;
    padding:5px;
    border: 2px solid black;
    border-radius:4px;
}
.grid {
    display:flex;
    flex-wrap:wrap;
    height:306px;
    width:408px;
}
img {
    height:100px;
    width:100px;
    border:1px solid red;
    margin:1px;
}
